body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(44, 173, 248);
}
h1{
    font-size: 50px;
}
.color{
    color: blue;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 2%; 
}
.half-width img{
    width: 80%;
    padding-left: 10%;
    padding-top: 10%;
}

.half-width2{
    width: 50%;
    margin-left: 2%; 
    padding-top: 10%;
}
.half-width2 img{
    width: 50%;
    padding-left: 30%;
    padding-top: 10%;
}

